<table border="1">
	<!--ヘッダー行-->
	<tr>
		<th>商品ID</th>
		<th>商品名</th>
		<th>価格</th>
		<th>個数</th>
		<th>小計</th>

	</tr>

	<!--カートの中身-->
	<tr th:each="cartItem : ${@cart.itemList}">
		<td th:text="${cartItem.id}"></td>
		<td th:text="${cartItem.name}"></td>
		<td th:text="${cartItem.price}"></td>
		<td th:text="${cartItem.quantity}"></td>
		<td th:text="${cartItem.price * cartItem.quantity}"></td>
	</tr>


	<!--合計金額を出力-->
	<tr>
		<td colspan="5">
			総計：[[${@cart.total}]]円
		</td>
	</tr>


</table>