<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>商品更新</title>
</head>

<body>
	<h1>商品更新</h1>
	<!--入力フォーム-->
	<form th:action="|/edit/${item.id}|" method="post">
		<!--テーブル-->
		<table border="1">
			<tr>
				<th>商品ID</th>
				<td th:text="${item.id}"></td>
			</tr>

			<tr>
				<th>カテゴリーID</th>
				<td>
					<input type="number" name="categoryId" th:value="${item.categoryId}" min="1" />
				</td>

			</tr>

			<tr>
				<th>商品名</th>
				<td>
					<input type="text" name="name" th:value="${item.name}" />
				</td>
			</tr>

			<tr>
				<th>価格</th>
				<td>
					<input type="number" name="price" th:value="${item.price}" min="0" />
				</td>
			</tr>

		</table>
		<!--登録ボタン-->
		<button>更新</button>

	</form>
</body>

</html>